<!-- ? ======= header start ======= -->
<header class="header">
  <div class="header__flex container">
    <div class="header__logo">
      <img src="img/logo.svg" alt="logo" />
      <div class="header__logo-text">Авто-техническая экспертиза</div>
    </div>

    <menu class="header__menu list-reset">
      <li class="header__item">
        <a href="#" class="header__link">О нас</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Наши услуги</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Наши преимущества</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Отзывы</a>
      </li>
    </menu>

    <a class="header__phone" href="tel:+79028770518">
      <svg class="header__phone-svg">
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>
      +7 (902) 877 05 18
    </a>
  </div>
</header>
