// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1190px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-dianne: #214158;
  --color-lochinvar: #298177;
  --color-recing: #0e1d13;
  --color-bay: #292c81;
  --color-meteorite: #512678;
  --color-azure: #33659a;
  --color-keppel: #33a195;

  // border radius

  --border-radius20: 20px;
}
